# Ignore IDE related folders.
/.idea/

# Ignore databases.
*.db

# Ignore all data related files.
data/

# Selenium folders
selenium/

# Cache
.mypy_cache/
.pytest_cache/

# JS node modules
node_modules/
